
@{
    ViewBag.Title = "Hello";
}

<h2>Hello</h2>
@Scripts.Render("~/myscripts")
@Styles.Render("~/mystyles")
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
</body>
</html>